@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #003566;
  --color-secondary: #AE2012;
  --color-tertiary: #EE9B00;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F2F2F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@layer components {
  .align-headers {
    @apply mx-auto max-w-7xl px-8;
  }
  .align-element {
    @apply mx-auto max-w-5xl px-8;
  }
}